# Project exclude paths
/.gradle/
/Cinema Room REST Service/task/build/
/Cinema Room REST Service/task/out/
/Cinema Room REST Service/task/out/production/classes/
/Topics/Integer types and operations/The sum of digits/out/
/Topics/Integer types and operations/The sum of digits/out/production/classes/
/Topics/Processing strings/Cutting out the middle of a string/out/
/Topics/Processing strings/Cutting out the middle of a string/out/production/classes/